.game {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #8e908f;
}

.container {
	height: 100%;
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
