.control {
    display: grid;
    grid-template-areas: '. up .' 'left down right';
}

button {
    height: 40px;
    width: 40px;
    margin: 4px;
    text-align: center;
    border: none;
    border-radius: 2px;
    font-size: 18px;
}

.select {
    border: 2px solid red;
    background: rgba(255, 255, 102, 1)
}

.up {
    grid-area: up;
}

.left {
    grid-area: left;
}

.down {
    grid-area: down;
}

.right {
    grid-area: right;
}