@font-face {
    font-family: 'PressStart-Regular';
    src: url('../../fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
    url('../../fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.title_screen {
    height: calc(100% - 82px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PressStart-Regular'
}

.title_screen p {
    font-size: 40px;
    text-transform: capitalize;
}

.title_screen button {
    width: 200px;
    height: 80px;
    font-family: 'PressStart-Regular';
    font-size: 40px;
    text-transform: capitalize;
    border: 2px solid black;
    background: none;
}