.blocks {
    height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
}

.block {
	height: calc(5% - 4px);
	width: calc(5% - 4px);
	margin: 1px;
	border: 1px solid black;
	border-radius: 10%;
}

.snake {
	background: red;
}

.apple {
	background: green;
}