@font-face {
    font-family: 'PressStart-Regular';
    src: url('../../fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
    url('../../fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer {
    grid-area: footer;
    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #2d3945;
    border-top: 2px solid black;
}

.info {
    height: 100%;
    width: 50%;
    padding: 0;
    margin: 0;
    font-family: 'PressStart-Regular';
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info p {
    position: relative;
    margin: 6px 0;
    padding: 0 10px;
}

.social {
    height: 100%;
    width: 50%;
    padding: 0 20px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'PressStart-Regular';
    font-size: 10px;
    color: white;
    text-align: right;
}

.social a {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-bottom: 16px;
}

.social a:first-child {
    background: url('../../image/social_ico.gif');
}

.social a:nth-child(2) {
    background: url('../../image/social_ico.gif');
    background-position: -16px 0;
}

.social a:last-child {
    background: url('../../image/social_ico.gif');
    background-position: 16px 0;
}
