html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#root {
	height: 100%;
	width: 100%;
	position: inherit;
}